<a href="https://colab.research.google.com/github/achow6/comparing-Baltimore-Wilton-household-income-python/blob/main/Mini_Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comparing Household Income in Baltimore, MD and Wilton, CT

*   How can parent's household income affect child's household income?
*   How is this different between the two cities? How do Wilton and Baltimore compare in terms of household income?

# Import Libraries

In [ ]:
# pip install plotly

In [ ]:
# library for data analysis
import pandas as pd
from functools import reduce
import numpy as np

# library for data viz
import plotly.express as px
import plotly.graph_objects as go

# Import Data

In [ ]:
# import data - Baltimore

df_Bal_general = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Baltimore%20-%20general.csv")
df_Bal_high = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Baltimore%20-%20high.csv")
df_Bal_middle = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Baltimore%20-%20middle.csv")
df_Bal_low = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Baltimore%20-%20low.csv")

In [ ]:
# import data - Wilton

df_Wil_general = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Wilton%20-%20general.csv")
df_Wil_high = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Wilton%20-%20high.csv")
df_Wil_middle = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Wilton%20-%20middle.csv")
df_Wil_low = pd.read_csv("https://raw.githubusercontent.com/achow6/comparing-baltimore-wilton-household-income/master/data%20Wilton%20-%20low.csv")

In [ ]:
# preview data

df_Bal_general.head(20)

          tract                               Name  Household_Income_rP_gP_pall
0   24005403802                     Pikesville, MD                      90719.0
1   24005403803                     Pikesville, MD                      85716.0
2   24005490701                         Towson, MD                      79814.0
3   24005403801               Baltimore County, MD                      78198.0
4   24027602305                  Ellicott City, MD                      77955.0
5   24005490500                         Towson, MD                      77836.0
6   24005490400                         Towson, MD                      76317.0
7   24005403601                      Baltimore, MD                      75513.0
8   24005403500                     Pikesville, MD                      72847.0
9   24510271400           Evergreen, Baltimore, MD                      71859.0
10  24005490302                         Towson, MD                      70445.0
11  24510271501    Mount Washington, Baltimore, MD                      69634.0
12  24027602100                  Ellicott City, MD                      69541.0
13  24005491000                      Baltimore, MD                      68851.0
14  24005490100                         Towson, MD                      68691.0
15  24510271300         Roland Park, Baltimore, MD                      68340.0
16  24027602202                  Ellicott City, MD                      67481.0
17  24027601104                  Ellicott City, MD                      67394.0
18  24027602700  Taylor Village, Ellicott City, MD                      67058.0
19  24510271200            Homeland, Baltimore, MD                      66907.0

In [ ]:
# check information

df_Bal_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   tract                        432 non-null    int64
 1   Name                         432 non-null    object
 2   Household_Income_rP_gP_pall  427 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.2+ KB

# Filter Data for Baltimore City & Wilton Only

In [ ]:
# look at all Baltimore column names

df_Bal_general.columns

Index(['tract', 'Name', 'Household_Income_rP_gP_pall'], dtype='object')

In [ ]:
# look at unique values in Baltimore "Name"

df_Bal_general["Name"].unique()

array(['Pikesville, MD', 'Towson, MD', 'Baltimore County, MD',
       'Ellicott City, MD', 'Baltimore, MD', 'Evergreen, Baltimore, MD',
       'Mount Washington, Baltimore, MD', 'Roland Park, Baltimore, MD',
       'Taylor Village, Ellicott City, MD', 'Homeland, Baltimore, MD',
       'Owings Mills, MD', 'Catonsville, MD',
       'Dunloggin, Ellicott City, MD', 'Kings Contrivance, Columbia, MD',
       'Perry Hall, MD', 'Nottingham, MD', 'Mid-Charles, Baltimore, MD',
       'Columbia, MD', 'Owen Brown, Columbia, MD',
       'Oakland Mills, Columbia, MD', 'Parkville, MD',
       'Tuscany - Canterbury, Baltimore, MD',
       'Kendall Ridge, Columbia, MD', 'Kingsville, MD',
       'Linthicum Heights, MD', 'Relay, Halethorpe, MD',
       'West Elkridge, Elkridge, MD', 'Long Reach, Columbia, MD',
       'Severn, MD', 'Randallstown, MD', 'Pasadena, MD',
       'Cross Country, Baltimore, MD', 'Fells Point, Baltimore, MD',
       'Middle River, MD', 'Elkridge, MD', 'Rosedale, MD', 'Hanover, MD',
       'Savage, Savage, MD', 'Green Haven, Pasadena, MD',
       'Riverside, Baltimore, MD', 'Normandy, Ellicott City, MD',
       'North Harford Road, Baltimore, MD', 'Dundalk, MD',
       'Halethorpe, MD', 'Glen Burnie, MD', 'White Marsh, MD',
       'Edgemere, MD', 'Cheswolde, Baltimore, MD', 'Essex, MD',
       'Woodring, Baltimore, MD', 'South Gate, Glen Burnie, MD',
       'Harford County, MD', 'Sparrows Point, MD',
       'Cross Keys, Baltimore, MD', 'Lochearn, Pikesville, MD',
       'Riviera Beach, MD', 'Brooklyn Park, MD', 'Canton, Baltimore, MD',
       'Chestnut Hill Cove, Riviera Beach, MD', 'Savage, Jessup, MD',
       'Glenham-Belford, Baltimore, MD', 'Locust Point, Baltimore, MD',
       'Lake Walker, Baltimore, MD', 'Violetville, Baltimore, MD',
       'Waltherson, Baltimore, MD',
       'Lansdowne - Baltimore Highlands, Halethorpe, MD',
       'Waterloo, Elkridge, MD', 'Arcadia, Baltimore, MD',
       'Radnor - Winston, Baltimore, MD', 'Gwynn Oak, Pikesville, MD',
       'Harford - Echodale - Perring Parkway, Baltimore, MD',
       'Lansdowne - Baltimore Highlands, Lansdowne, MD',
       'Glen, Baltimore, MD', 'Windsor Mill, Baltimore, MD',
       'Hampden, Baltimore, MD', 'Cold Springs, Baltimore, MD',
       'Lauraville, Baltimore, MD', 'Fallstaff, Baltimore, MD',
       'Westgate, Baltimore, MD', 'Bolton Hill, Baltimore, MD',
       'Riverside Park, Baltimore, MD', 'Woodlawn, MD',
       'Brooklyn, Baltimore, MD', 'Joseph Lee, Baltimore, MD',
       'Medfield, Baltimore, MD', 'Windsor Mill, Milford Mill, MD',
       'Gwynn Oak, Woodlawn, MD', 'Gwynn Oak, Baltimore, MD',
       'Medford - Broening, Baltimore, MD', 'Cedmont, Baltimore, MD',
       'South Baltimore, Baltimore, MD', 'Gwynn Oak, Lochearn, MD',
       'Morrell Park, Baltimore, MD', 'Upper Fells Point, Baltimore, MD',
       'Downtown, Baltimore, MD', 'Woodberry, Baltimore, MD',
       'Fifteenth Street, Baltimore, MD', 'Hillen, Baltimore, MD',
       'Belair - Edison, Baltimore, MD',
       'Ednor Gardens - Lakeside, Baltimore, MD',
       'Ramblewood, Baltimore, MD', 'Patterson Park, Baltimore, MD',
       'Frankford, Baltimore, MD', 'Loch Raven, Baltimore, MD',
       'Baltimore Highlands, Baltimore, MD',
       'Armistead Gardens, Baltimore, MD', 'Idlewood, Baltimore, MD',
       'Perring Loch, Baltimore, MD', 'East Arlington, Baltimore, MD',
       'Beechfield, Baltimore, MD', 'New Northwood, Baltimore, MD',
       'Mid-Govans, Baltimore, MD', 'Little Italy, Baltimore, MD',
       'Rognel Heights, Baltimore, MD', 'Walbrook, Baltimore, MD',
       'Irvington, Baltimore, MD', 'West Forest Park, Baltimore, MD',
       'Hanlon Longwood, Baltimore, MD', 'Lakeland, Baltimore, MD',
       'Parkside, Baltimore, MD', 'Yale Heights, Baltimore, MD',
       'Garwyn Oaks, Baltimore, MD', 'Pigtown, Baltimore, MD',
       'Remington, Baltimore, MD', 'Allendale, Baltimore, MD',
       'Windsor Hills, Baltimore, MD', 'Curtis Bay, Baltimore, MD',
       'Burleith-Leighton, Baltimore, MD',
       'Winston - Govans, Baltimore, MD', 'Better Waverly, Baltimore, MD',
       'Reisterstown Station, Baltimore, MD', 'Edmondson, Baltimore, MD',
       'Dorchester, Baltimore, MD', 'Central Park Heights, Baltimore, MD',
       'Woodbrook, Baltimore, MD', 'Old Goucher, Baltimore, MD',
       "Saint Joseph's, Baltimore, MD", 'Darley Park, Baltimore, MD',
       'Poppleton, Baltimore, MD', 'Cedonia, Baltimore, MD',
       'Arlington, Baltimore, MD', 'Mosher, Baltimore, MD',
       'Coppin Heights, Baltimore, MD', 'Harwood, Baltimore, MD',
       'Hollins Market, Baltimore, MD', 'Park Circle, Baltimore, MD',
       'Cherry Hill, Baltimore, MD',
       'Bridgeview-Greenlawn, Baltimore, MD',
       'Coldstream - Homestead - Montebello, Baltimore, MD',
       'Berea, Baltimore, MD', 'Rosemont, Baltimore, MD',
       'Lexington, Baltimore, MD', 'Edgecomb, Baltimore, MD',
       'Reservoir Hill, Baltimore, MD', 'Pratt Monroe, Baltimore, MD',
       'Greenmount West, Baltimore, MD', 'Barclay, Baltimore, MD',
       'Langston Hughes, Baltimore, MD', 'Butchers Hill, Baltimore, MD',
       'Broadway East, Baltimore, MD', 'Penn North, Baltimore, MD',
       'Mondawmin, Baltimore, MD', 'Harlem Park, Baltimore, MD',
       'Sandtown-Winchester, Baltimore, MD',
       'NW Community Action, Baltimore, MD', 'Mill Hill, Baltimore, MD',
       'Madison - Eastend, Baltimore, MD', 'Perkins Homes, Baltimore, MD',
       'Midtown Edmondson, Baltimore, MD', 'Mount Clare, Baltimore, MD',
       'East Baltimore Midway, Baltimore, MD',
       "O'Donnell Heights, Baltimore, MD", 'Upton, Baltimore, MD',
       'Gay Street, Baltimore, MD', 'Bentalou-Smallwood, Baltimore, MD',
       'Oliver, Baltimore, MD', 'Westport, Baltimore, MD',
       'McCulloh Homes, Baltimore, MD',
       'Claremont - Freedom, Baltimore, MD',
       'Druid Heights, Baltimore, MD',
       'Pleasant View Gardens, Baltimore, MD',
       'Franklin Square, Baltimore, MD', 'Shipley Hill, Baltimore, MD',
       'Johnson Square, Baltimore, MD',
       'Milton - Montford, Baltimore, MD',
       'Penn - Fallsway, Baltimore, MD'], dtype=object)

In [ ]:
# data for Baltimore City only

df_Bmore_general = df_Bal_general[df_Bal_general["Name"].str.contains("Baltimore, MD")]
df_Bmore_high = df_Bal_high[df_Bal_high["Name"].str.contains("Baltimore, MD")]
df_Bmore_middle = df_Bal_middle[df_Bal_middle["Name"].str.contains("Baltimore, MD")]
df_Bmore_low = df_Bal_low[df_Bal_low["Name"].str.contains("Baltimore, MD")]

In [ ]:
# preview data

df_Bmore_general.head(10)

          tract  ... Household_Income_rP_gP_pall
7   24005403601  ...                     75513.0
9   24510271400  ...                     71859.0
11  24510271501  ...                     69634.0
13  24005491000  ...                     68851.0
15  24510271300  ...                     68340.0
19  24510271200  ...                     66907.0
27  24005490601  ...                     64049.0
29  24005490603  ...                     63507.0
30  24510271102  ...                     62714.0
37  24510120100  ...                     60859.0

[10 rows x 3 columns]

In [ ]:
# look at all Wilton column names

df_Wil_general.columns

Index(['tract', 'Name', 'Household_Income_rP_gP_pall'], dtype='object')

In [ ]:
# look at unique values in Wilton "Name"

df_Wil_general["Name"].unique()

array(['New Canaan, CT', 'Wilton, CT', 'Fairfield, CT',
       'North Stamford, Stamford, CT', 'Westport, CT', 'Ridgefield, CT',
       'Pound Ridge, NY', 'Norwalk, CT', 'Weston, CT', 'South Salem, NY',
       'Redding, CT', 'Easton, CT'], dtype=object)

In [ ]:
# data for Wilton only

df_Wilton_general = df_Wil_general[df_Wil_general["Name"] == "Wilton, CT"]
df_Wilton_high = df_Wil_high[df_Wil_high["Name"] == "Wilton, CT"]
df_Wilton_middle = df_Wil_middle[df_Wil_middle["Name"] == "Wilton, CT"]
df_Wilton_low = df_Wil_low[df_Wil_low["Name"] == "Wilton, CT"]

In [ ]:
# preview data

df_Wilton_low.head(5)

         tract        Name  Household_Income_rP_gP_p25
0   9001045300  Wilton, CT                       76063
1   9001045200  Wilton, CT                       67466
10  9001045101  Wilton, CT                       49854
18  9001045102  Wilton, CT                       46630
22  9001045400  Wilton, CT                       41668

# Merge Datasets

In [ ]:
# compile list of dataframes to merge (Wilton)

data_frames_Wil = [df_Wilton_general, df_Wilton_high, df_Wilton_middle, df_Wilton_low]

In [ ]:
# merge Wilton datasets

df_Wil_merge = reduce(lambda  left,right: pd.merge(left,right,on=["Name", "tract"],
                                            how="left"), data_frames_Wil).fillna('void')

In [ ]:
# preview data

df_Wil_merge.tail(5)

        tract  ... Household_Income_rP_gP_p25
0  9001045101  ...                      49854
1  9001045200  ...                      67466
2  9001045300  ...                      76063
3  9001045400  ...                      41668
4  9001045102  ...                      46630

[5 rows x 6 columns]

In [ ]:
# compile list of dataframes to merge (Baltimore)

data_frames_Bal = [df_Bmore_general, df_Bmore_high, df_Bmore_middle, df_Bmore_low]

In [ ]:
# merge Baltimore datasets

df_Bal_merge = reduce(lambda  left,right: pd.merge(left,right,on=["Name", "tract"],
                                            how="left"), data_frames_Bal).fillna('void')

In [ ]:
df_Bal_merge.head(10)

         tract  ... Household_Income_rP_gP_p25
0  24005403601  ...                      53687
1  24510271400  ...                      50567
2  24510271501  ...                      46323
3  24005491000  ...                      61635
4  24510271300  ...                      29553
5  24510271200  ...                      40094
6  24005490601  ...                      51258
7  24005490603  ...                      51212
8  24510271102  ...                      24403
9  24510120100  ...                      28995

[10 rows x 6 columns]

In [ ]:
# change everything in name column to Baltimore, MD

df_Bal_merge["Name"] = np.where(df_Bal_merge["Name"] == df_Bal_merge["Name"].str.contains("Baltimore, MD"), "Baltimore, MD", "Baltimore, MD")

In [ ]:
# combine merged datasets

df_Bal_Wil_merge = pd.concat([df_Bal_merge, df_Wil_merge], axis = 0, sort = False)

In [ ]:
df_Bal_Wil_merge.dropna

<bound method DataFrame.dropna of           tract  ... Household_Income_rP_gP_p25
0   24005403601  ...                      53687
1   24510271400  ...                      50567
2   24510271501  ...                      46323
3   24005491000  ...                      61635
4   24510271300  ...                      29553
..          ...  ...                        ...
0    9001045101  ...                      49854
1    9001045200  ...                      67466
2    9001045300  ...                      76063
3    9001045400  ...                      41668
4    9001045102  ...                      46630

[235 rows x 6 columns]>

In [ ]:
df_Bal_Wil_merge.head(10)

          tract  ... Household_Income_rP_gP_p25
0   24005403601  ...                    53687.0
1   24510271400  ...                    50567.0
2   24510271501  ...                    46323.0
4   24510271300  ...                    29553.0
5   24510271200  ...                    40094.0
6   24005490601  ...                    51258.0
7   24005490603  ...                    51212.0
8   24510271102  ...                    24403.0
9   24510120100  ...                    28995.0
11  24005403602  ...                    48514.0

[10 rows x 6 columns]

In [ ]:
df_Bal_Wil_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   tract                        235 non-null    int64
 1   Name                         235 non-null    object
 2   Household_Income_rP_gP_pall  235 non-null    object
 3   Household_Income_rP_gP_p75   235 non-null    object
 4   Household_Income_rP_gP_p50   235 non-null    object
 5   Household_Income_rP_gP_p25   235 non-null    object
dtypes: int64(1), object(5)
memory usage: 12.9+ KB

In [ ]:
# remove "void"

df_Bal_Wil_merge = df_Bal_Wil_merge[df_Bal_Wil_merge["Household_Income_rP_gP_pall"] != "void"]
df_Bal_Wil_merge = df_Bal_Wil_merge[df_Bal_Wil_merge["Household_Income_rP_gP_p75"] != "void"]
df_Bal_Wil_merge = df_Bal_Wil_merge[df_Bal_Wil_merge["Household_Income_rP_gP_p50"] != "void"]
df_Bal_Wil_merge = df_Bal_Wil_merge[df_Bal_Wil_merge["Household_Income_rP_gP_p25"] != "void"]

In [ ]:
# change datatype to float

df_Bal_Wil_merge["Household_Income_rP_gP_pall"] = df_Bal_Wil_merge["Household_Income_rP_gP_pall"].astype(float)
df_Bal_Wil_merge["Household_Income_rP_gP_p75"] = df_Bal_Wil_merge["Household_Income_rP_gP_p75"].astype(float)
df_Bal_Wil_merge["Household_Income_rP_gP_p50"] = df_Bal_Wil_merge["Household_Income_rP_gP_p50"].astype(float)
df_Bal_Wil_merge["Household_Income_rP_gP_p25"] = df_Bal_Wil_merge["Household_Income_rP_gP_p25"].astype(float)

# Pivot Table for Average Household Income

In [ ]:
# pivot table

df_pivot_income = pd.pivot_table(df_Bal_Wil_merge,
                                 index = ["Name"],
                                 values = ["Household_Income_rP_gP_pall", "Household_Income_rP_gP_p75", "Household_Income_rP_gP_p50", "Household_Income_rP_gP_p25"],
                                 aggfunc = np.mean).reset_index()

In [ ]:
# preview table

df_pivot_income

            Name  ...  Household_Income_rP_gP_pall
0  Baltimore, MD  ...                 30456.486607
1     Wilton, CT  ...                 77345.600000

[2 rows x 5 columns]

# Create Visual

In [ ]:
city = ["Baltimore, MD", "Wilton, CT"]

bar_income = go.Figure(data=[
            go.Bar(name = "Average Child's Household Income from All Income Families", x = city, y = df_pivot_income["Household_Income_rP_gP_pall"]),
            go.Bar(name = "Average Child's Household Income Coming from a High Income Family", x = city, y = df_pivot_income["Household_Income_rP_gP_p75"]),
            go.Bar(name = "Average Child's Household Income Coming from a Middle Income Family", x = city, y = df_pivot_income["Household_Income_rP_gP_p50"]),
            go.Bar(name = "Average Child's Household Income Coming from a Low Income Family", x = city, y = df_pivot_income["Household_Income_rP_gP_p25"])
])

bar_income.update_layout(title = "Average Child's Household Income by Family Income & City",
            xaxis_title = "City",
            yaxis_title = "Average Household Income")